<!doctype html >
<html lang="en" ng-app="bancario_angjs_desk">
<head>
<meta charset="utf-8">
<title>Bancario</title>
<!-- <link href='http://fonts.googleapis.com/css?family=Finger+Paint'
	rel='stylesheet' type='text/css'> -->
	
<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>	
<link href="bower_components/fontawesome/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/app.css">
<script src="bower_components/angular/angular.js"></script>
<!-- <script src="bower_components/angular-route/angular-route.js"></script> -->
<!-- <script src="bower_components/angular-animate.min.js"></script> -->
<!-- <script src="bower_components/angular-resource/angular-resource.js"></script> -->


<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<!-- 	<script src="js/filters.js"></script> -->
<!-- 	<script src="js/angular-uuid.js"></script> -->
<!-- <script src="js/angular-loadscript.js"></script> -->

</head>

<body ng-controller="LoadCtrl">

<div style="text-align: center;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 970x90finance -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-4265026941264081"
     data-ad-slot="1729627857"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
<div class="row">

<div class="col-md-8">
	<div ng-if="!clickOnRss">

		<div ng-repeat="rs in rss" class='leftPart' ng-click='selectRss(rs)'>

			<div class="media">

				<img class="media-object imgSmall200 pull-left"
					ng-src='http://146.185.151.26:8080/resize/200x200/{{rs.ImgLink}}'
					alt="">

				<div class="media-body">
					{{rs.PubDate |date:'mediumDate'}}
					<div class='title'>
						{{rs.Title}} <i
							class="fa fa-chevron-circle-right fa-2x pull-right"></i>
					</div>


				</div>

			</div>

		</div>

	</div>
	

	<div ng-if="clickOnRss">

		<button ng-click='closeItem()' type="button" class="close pull-right"
			aria-hidden="true">
			<i class="fa fa-times-circle-o fa-lg"></i>
		</button>

		<div class="page-header text-center">{{selectedItem.Title}}</div>
		<img ng-src='{{selectedItem.ImgLink}}' alt=""
			class="img-rounded center-block imgBig468">
		<div class="well">{{selectedItem.Cont}}</div>

	</div>
	
	</div>
	
	
	<div class="col-md-4 rightbox" >
 
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- skyscraper120x600FI_fifinance -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-4265026941264081"
     data-ad-slot="9526732259"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
 
 </div>

</div>


</body>

</html>